<h2>Isos by Year</h2>

<table class="data-table">
  <tr>
    <th>Year</th>
    <th>Iso and Frequency</th>
  </tr>

  <% @isos_by_year.each do |year| %>
    <tr>
      <td><%= year.first %></td>

      <td>
        <% year.second.each do |iso| %>
          <p><%= iso[:iso] %> <span class="stats">(<%= iso[:frequency] %>)</span></p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>