<h2>Lenses by Year</h2>

<table class="data-table">
  <tr>
    <th>Year</th>
    <th>Lens and Frequency</th>
  </tr>

  <% @lenses_by_year.each do |year| %>
    <tr>
      <td><%= year.first %></td>

      <td>
        <% year.second.each do |lens| %>
          <p><%= lens[:lens][:value] %> - <%= lens[:frequency] %> <span class="stats">(<%= lens[:lens_percentage] %>%)</span></p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>