<h2>Lenses</h2>

<svg class="lens-chart" width=960 height=400></svg>

<table class="data-table">
  <tr>
    <th>Lens</th>
    <th>Frequency</th>
  </tr>

  <% @lenses.each do |lens| %>
    <tr>
      <td><%= lens[:lens].value %></td>
      <td><%= lens[:frequency] %></td>
    </tr>
  <% end %>
</table>
